*{
  box-sizing: border-box;
}

body {
color: #777777;
margin: 0;
padding: 0;
font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
background-image: url("../images/creampaper.png");
}

header {
background: white;
border-bottom: 2px solid #cccccc;
height: 69px;
}

#header-box {
margin: auto;
width: 960px;
padding-top: 0;
}

h1, h2 {
font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

h1 {
background: #4AAAA5;
float: left;
font-size: 1.5em;
color: white;
padding: 20px 30px;
margin: 0;
}

h2 {
  font-size: 1.5em;
  color: #4AAAA5;
  margin: 0;
  padding: 15px 0px;
  border-bottom: 2px solid #dddddd;
  }
  
/* Style the unordered list of links */
ul {
list-style-type: none;
margin: 0;
padding: 25px;
float:right;
}

/* Align links, set font size and add a border on right */
li {
float: left;
border-right: 1px solid #777777;
font-size: 16px;
}

/* Remove right border on the last item in the list */
li:last-child {
border-right: none;
}

/* Format the links within the list */
li a {
padding: 0px 10px;
text-decoration: none;
}

li a:link{
color: #777777;
}

/* Reset the link color after it has been visited */
li a:visited{
color: #777777;
}

/* Change the link color to teal on hover */
li a:hover {
background: #4AAAA5;
color: white;
}

#main-box {
background: #ffffff;
border: 1px solid #dddddd;
width: 960px;
padding: 20px;
margin: auto;
margin-top: 30px;
overflow: hidden;
}

img {
float: left;
margin-right: 10px;
}

#bio-image {
float: left;
width: 175;
height: 200;
}

#main-bio {
width: 70%;
}

#contact-info {
width: 70%;
}

footer {
clear: both;
background: #666666;
color: #dddddd;
padding: 20px;
height: 60px;
width:100%;
text-align: center;
position: fixed;
bottom: 0;
border-top: 5px solid #4AAAA5;
}

.picture{
    width: 200px;
    height: 200px;

}

.caption{
    padding: 20px;
    width: 290px;
    background: #4AAAA5;
    color: white;
    text-align: center; 
    position: absolute;
    bottom: 30px;
}

form{
    padding: 20px;
    padding-left: 0;
}

.name{
    width:100%;
    height: 28px;
    color: #777777;
    font-size: 14px;
}

.email{
    width:100%;
    height: 28px;
    color: #777777;
    font-size: 14px;
}

.message{
    width:100%;
    height: 120px;
    color: #777777;
    font-size: 14px;
}

.button{
    padding: 8px;
    background: #4AAAA5;
    color: white;
    width: 12%;
    font-size: 14px;
